
<navi-bar></navi-bar>
<div class="container"> 
        <ng-container *ngIf="_data && _data.meta && !_data.meta.readOnly"> 
            <ng-container *ngIf="_mode=='Viewer'"> 
                    <div>                              
                        <dx-button class="button success" (onClick)="design()" text="Design"></dx-button>                    
                    </div>                    
            </ng-container>
            <ng-container *ngIf="_mode!='Viewer'"> 
                    <div>   
                        <dx-button class="button success" (onClick)="preview()" text="Preview"></dx-button>
                        <dx-button class="button primary" (onClick)="save()" text="Save Changes"></dx-button>         
                        <dx-button class="button secondary" (onClick)="showHideToolbar(true)" text="Open toolbar"></dx-button>
                        <dx-button class="button secondary" (onClick)="showHideExplorer(true)" text="Open explorer"></dx-button>
                    </div>
            </ng-container>
        </ng-container>
    
    <ng-container *ngIf="_root">                                                  
        <div  id='dbEditor'>        
            <ctlEditor [node]="_root" [root]="_data" [parent]="_root" ></ctlEditor>        
        </div> 

       <!-- <div id="dbToolbar">
            <ctlToolbar [node]="_root" [root]="_data"> </ctlToolbar>
        </div>-->
    <dx-popup
        class="popup"
        [width]="500"       
        [showTitle]="true"
        title="Toolbar"
        [shading]="false"
        [dragEnabled]="true"
        [closeOnOutsideClick]="false"
        [(visible)]="isToolbarPopupVisible"        
        (onTitleRendered)="doTheMagic()">
        <div *dxTemplate="let data of 'content'">            
            <ctlToolbar [node]="_root" [root]="_data"> </ctlToolbar>
            <dx-button text="Close" (onClick)="showHideToolbar(false)" class="button secondary"></dx-button>            
        </div>
    </dx-popup>

    <dx-popup
        class="popup"
        [width]="500"       
        [showTitle]="true"
        title="Object Inspector"
        [shading]="false"
        [dragEnabled]="true"
        [closeOnOutsideClick]="false"
        [(visible)]="isInspectorPopupVisible"
        [height]="930">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view #scrollView
                id="scrollviewInsp"
                [scrollByContent]="scrollByContent"
                [scrollByThumb]="scrollByThumb"
                [showScrollbar]="scrollbarMode"
                [bounceEnabled]="pullDown"
                reachBottomText="Updating..."
                [height]="800"
               >               
                <ctlObjectInspector  [node]="_root" [root]="_data"> </ctlObjectInspector>                        
            </dx-scroll-view>
            <dx-button text="Close" (onClick)="showHideInspector(false)"  class="button secondary"></dx-button>
        </div>
    </dx-popup>


     <dx-popup
        class="popup"
        [width]="500"              
        [showTitle]="true"
        title="Object Explorer"
        [shading]="false"
        [dragEnabled]="true"
        [closeOnOutsideClick]="false"
        [(visible)]="isExplorerPopupVisible"
        [height]="930">        
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view #scrollView
                id="scrollviewExp"
                [scrollByContent]="scrollByContent"
                [scrollByThumb]="scrollByThumb"
                [showScrollbar]="scrollbarMode"
                [bounceEnabled]="pullDown"
                reachBottomText="Updating..."
                [height]="800"
               >            
                <ctlExplorer [node]="_root" [root]="_data" [designer]="_me"> </ctlExplorer>                                
            </dx-scroll-view>
            <dx-button text="Close" (onClick)="showHideExplorer(false)"  class="button secondary"></dx-button>
        </div>
    </dx-popup>
       <!-- <div id='dbObjExplorer' style="width: 300px;">	
            <ctlExplorer [node]="_root" [root]="_data"> </ctlExplorer>
            <a class="button" (click)="closeExplorer()">Close</a>  
        </div>-->

       <!-- <div id='dbObjInspector'>
            <ctlObjectInspector  [node]="_root" [root]="_data"> </ctlObjectInspector>
        </div>-->




    </ng-container>
</div>
    