 
    <ng-container *ngIf="root.selected"> 
        <a class="button alert" (click)="deleteControl(root.selected)">Remove</a>
        <table>
        <!-- <ng-container *ngFor="let prop of getProperties()"> 
            <tr>
                <td>{{prop}} </td>                         
                <td>
                    <div ngSwitch="{{prop}}"> 
                        <div *ngSwitchCase="'visibleOrder'">
                            <input type="text" [(ngModel)]="root.selected[prop]" (keyup)="onKey3($event)">                         
                        </div>                                     
                        <div *ngSwitchDefault>
                                <input type="text" [(ngModel)]="root.selected[prop]" >                       
                        </div>  
                    </div>   
                </td>
            </tr>
        </ng-container> -->
        <ng-container *ngFor="let prop of getWidgetProperties()">
            <tr>
                <td>{{prop}} </td>   
                <td>
                    <div ngSwitch="{{prop}}"> 
                        <div *ngSwitchCase="'typename'">
                                <label>{{root.selected.widget[prop]}}</label>                                    
                        </div>
                        <div *ngSwitchCase="'orientation'">
                            <select [ngModel]="root.selected.widget[prop]" (ngModelChange)="onOrientationChange($event)">                        
                                <option [ngValue]="ds" *ngFor="let ds of theOrientations">{{ds}}</option>
                            </select>
                        </div> 
                        <div *ngSwitchCase="'imgSrc'">
                            <select [ngModel]="root.selected.widget[prop]" (ngModelChange)="onImageDDLChange($event)">                        
                                <option [ngValue]="i.url" *ngFor="let i of theImageFiles">{{i.name}}</option>
                            </select>
                        </div> 
                        <!--//todo KPI calc properties eseteben ujra kell futtatni a calc-t-->
                        <div *ngSwitchCase="'dataSourceID'">
                            <select [ngModel]="root.selected.widget[prop]" (ngModelChange)="onDataSourceDDLChange($event)">                        
                                <option [ngValue]="ds.id" *ngFor="let ds of getAvailableDataSources()">{{ds.name}}</option>
                            </select>
                        </div> 
                        <div *ngSwitchCase="'DependencyPropertyName'">
                            <input type="text" [(ngModel)]="root.selected.widget[prop]" (keyup)="onKey($event)">                         
                        </div> 
                        <div *ngSwitchCase="'DependencyPropertyExpression'">
                            <input type="text" [(ngModel)]="root.selected.widget[prop]" (keyup)="onKey2($event)">                         
                        </div> 
                        <div *ngSwitchCase="'visibleOrder'">
                                <input type="text" [(ngModel)]="root.selected.widget[prop]" (keyup)="onKey3($event)">                         
                        </div> 
                        <div *ngSwitchDefault>
                            <input type="text" [(ngModel)]="root.selected.widget[prop]" >                         
                        </div>  
                    </div>                                                 
                </td>
            </tr>
        </ng-container>                  
        </table>
    </ng-container> 
