<div class="row">
    <div class="small-12 medium-6 columns">
        <h1>Create a new Dashboard</h1>
    </div>
</div>

<form>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <label> Name
            <input type="text" [(ngModel)]="name" name="prodName" required #prName="ngModel" >
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns"> 
            <label>
                 Description
                <textarea rows="5" id="desc" [(ngModel)]="description" name="prodDesc" 
                    required #prDesc="ngModel"></textarea>
            </label>
        </div>
        </div>
    <div class="row align-center">
        <div class="small-12 columns">
            <div class="expanded button-group">
                <button class="success button " type="button" [disabled]="!prName.valid || !prDesc.valid" 
                (click)="createDashboard()">Create Dashboard</button>
                <button class="cancel button" type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>

</form>
