<div class="row">
    <div class="small-12 medium-6 columns">
        <h1>Create Dashboard</h1>
    </div>
</div>

<form>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <label> Name
            <input type="text" [(ngModel)]="name" name="prodName" required #prName="ngModel" >
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns"> 
            <label>
                 Description
                <textarea rows="5" id="desc" [(ngModel)]="description" name="prodDesc" 
                    required #prDesc="ngModel"></textarea>
            </label>
        </div>
        </div>
    <div class="row align-center">
        <div class="small-12 columns">
            <div class="button-group">
                <dx-button class="button primary" (onClick)="createDashboard()" [disabled]="!prName.valid || !prDesc.valid" 
                text="Create Dashboard"></dx-button>
                <dx-button class="button secondary" (onClick)= "cancel()" text="Cancel"></dx-button>
            </div>
        </div>
    </div>

</form>
