<navi-bar></navi-bar>

<dx-popup
        class="popup"
        [width]="300"  
        [height]="450"      
        [showTitle]="true"
        [title]="shareTitle()"
        [shading]="true"
        [dragEnabled]="false"
        [closeOnOutsideClick]="false"
        [(visible)]="isUserPopupVisible">
        <div *dxTemplate="let data of 'content'">            
            <!--[height]="400"-->
            <dx-scroll-view #scrollView
                id="scrollviewShare"
                [scrollByContent]="scrollByContent"
                [scrollByThumb]="scrollByThumb"
                [showScrollbar]="scrollbarMode"
                [bounceEnabled]="pullDown"
                reachBottomText="Updating..."
                [height]="300"
               >               
                <dx-list #list
                    [dataSource]="allUsersExceptLoggedIn"                                               
                    [selectionMode]="all"
                    [selectAllMode]="allPages"                
                    [showSelectionControls]="true"
                    keyExpr="id"
                    [(selectedItemKeys)]="selectedItems">
                        <div *dxTemplate="let data of 'item'">
                            {{data.name}}
                        </div>
                </dx-list>     
                <span>{{selectedUsers()}}</span>                         
            </dx-scroll-view>
          
            <dx-button class="button warning" text="Share" (onClick)="shareDashboard(singleDashboard)"></dx-button>
            <dx-button class="button secondary" text="Cancel" (onClick)="ShowHidePopup(false)"></dx-button>
        </div>
</dx-popup>

<div [ngSwitch]="menuChoice" class="container">
    <div *ngSwitchCase="'add'"><dashboard-editor></dashboard-editor></div>
    <div *ngSwitchDefault>
        
        <div *ngIf = "formDisplay" class="row">
            <div class="action-bar">    
                    <div class="top-bar-left">
                        <ul class="menu">           
                            <li class="admin-menu">
                                <dx-button class="button primary" (onClick)="chooseMode('add')"  text="Add Dashboard"></dx-button>    
                            </li>                            
                        </ul>
                    </div>
                </div>

            <div class="row" *ngFor="let dash of theDashboards">
                <div class="row spacer">
	                <div class="media-object">
		                
                        <div class="media-object-section main-section">
                            <h4>{{dash.name}}</h4>
                            <p>{{dash.description | truncate:140}}</p>                           
                            <div class="button-group align-center">                               
                                <div *ngIf="!dash.readOnly">
                                    <dx-button class="button success" (onClick)="designDashboard(dash)"  text="Design"></dx-button>
                                    <dx-button class="button success" (onClick)="viewDashboard(dash)"  text="View"></dx-button>
                                    <dx-button class="button primary" (onClick)="editDashboard(dash)"  text="Update"></dx-button>                                
                                    <dx-button class="button warning" (onClick)="ShowHidePopup(true, dash)" text="Share"></dx-button>                                                                                                        
                                    <dx-button class="button alert" (onClick)="deleteDashboard(dash)" text="Delete"></dx-button>
                                </div>
                                <div *ngIf="dash.readOnly">
                                    <dx-button class="button success" (onClick)="viewDashboard(dash)"  text="View"></dx-button>
                                </div>                               
                            </div>
                        </div>

   	                </div>
                </div>   

            </div>
        </div>

        <div *ngIf = "!formDisplay" class="row">
            
            <form >
                <div class="row">
        	        <div class="medium-12 columns"><h3>Edit Dashboard meta</h3></div>
                </div>

                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>Data Source Name
                            <input type="text" [(ngModel)]="singleDashboard.name" 
                                name="editName" required #prName="ngModel">
                        </label>
                    </div>
                </div>
            
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>Description
                            <textarea rows="5" id="desc" [(ngModel)]="singleDashboard.description" 
                                name="editDesc" required #prDesc="ngModel"></textarea>
                        </label>
                    </div>                   
                </div>

                  <div class="row align-center">
                    <div class="small-12 columns">
                        <div class="button-group">    
                            <dx-button class="button primary" (onClick)="updateDashboard(singleDashboard)" [disabled]="!prName.valid || !prDesc.valid" 
                                text="Update"></dx-button>
                            <dx-button class="button secondary" (onClick)= "cancelEdit()" text="Cancel"></dx-button>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>