<navi-bar></navi-bar>


<div [ngSwitch]="menuChoice" class="container">
    <div *ngSwitchCase="'add'"><dataSource-editor></dataSource-editor></div>
    <div *ngSwitchDefault>

        <div *ngIf = "formDisplay" class="row">
            <div class="action-bar">    
                    <div class="top-bar-left">
                        <ul class="menu">           
                            <li class="admin-menu">
                                <dx-button class="button primary" (onClick)="chooseMode('add')"  text="Add Data Source"></dx-button>                                
                            </li>
                        </ul>
                    </div>
                </div> 
            <div class="row" *ngFor="let con of theDataSources">
                <div class="row spacer">
	                <div class="media-object">		                
                        <div class="media-object-section main-section">
                            <h4>{{con.name}}</h4>
                            <p>{{con.description | truncate:140}}</p>    
                            <p>{{con.typename}}:  {{con.format}}</p>                           
                            <div class="button-group align-center">                                                            
                                <dx-button class="button primary" (onClick)="editDataSource(con)"  text="Edit"></dx-button>                                                                
                                <dx-button class="button alert" (onClick)="deleteDataSource(con)" text="Delete"></dx-button>
                                <dx-button class="button secondary" text="Test connection" (onClick)="ShowHidePopup(true, con)"></dx-button>
                            </div>
                        </div>
   	                </div>
                </div>   

            </div>
        </div>

        <div *ngIf = "!formDisplay" class="row">                           
            <form >
                <div class="row">
        	        <div class="medium-12 columns"><h3>Edit Data Source</h3></div>
                </div>

                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>Data source Name
                            <input type="text" [(ngModel)]="singleDataSource.name" 
                                name="editName" required #prName="ngModel">
                        </label>
                    </div>
                </div>            
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>Description
                            <textarea rows="5" id="desc" [(ngModel)]="singleDataSource.description" 
                                name="editDesc" required #prDesc="ngModel"></textarea>
                        </label>
                    </div>                   
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>Data source type                                
                            <select [(ngModel)]="singleDataSource.typename"  name="typename" required #prTypeName="ngModel">
                                <option value ='csv' >CSV</option>
                                <option value ='ftp' >Ftp</option>
                                <option value ='webservice'>Webservice</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>Data format                               
                            <select [(ngModel)]="singleDataSource.format"  name="format" required #prTypeName="ngModel">
                                <option value ='SingleSeries' >SingleSeries</option>
                                <option value ='MultiSeries' >MultiSeries</option>
                                <option value ='Tabular'>Tabular</option>
                            </select>
                        </label>
                    </div>
                </div>                   
                <ng-container *ngIf="singleDataSource.typename=='csv';then csvContent else otherContent"> </ng-container>
                    <ng-template #csvContent>
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <label>Csv File
                                    <select [(ngModel)]="singleDataSource.file" name="fileUrl" (ngModelChange)="onFileDDLChange($event)">                        
                                        <option [ngValue]="i.url" *ngFor="let i of theFiles">{{i.name}}</option>
                                    </select>
                                </label>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <label>Seaprator
                                    <input type="text" [(ngModel)]="singleDataSource.csvSeparator" name="separator" >
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <label>Number of header rows
                                <input type="text" [(ngModel)]="singleDataSource.csvSkip" name="Header Rows"   >
                                </label>
                            </div>
                        </div>
                    </ng-template> 
                    <ng-template #otherContent>
                        <div class="small-12 medium-6 columns">
                            <label>Service Url
                                <input type="text" [(ngModel)]="singleDataSource.url" name="webServiceUrl" >
                            </label>
                        </div>
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <label>User Name
                                <input type="text" [(ngModel)]="singleDataSource.user" name="user"   >
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <label>Pwd
                                <input type="password" [(ngModel)]="singleDataSource.pwd" name="pwd"  >
                                </label>
                            </div>
                        </div>
                    </ng-template>  
                  <div class="row align-center">
                    <div class="small-12 columns">
                        <div class="button-group">                            
                           <dx-button class="button primary" (onClick)="updateDataSource(singleDataSource)" [disabled]="!prName.valid || !prDesc.valid" 
                                text="Update"></dx-button> 
                            <dx-button class="button secondary" (onClick)= "cancelEdit()" text="Cancel"></dx-button>
                            <dx-button class="button secondary" text="Test connection" (onClick)="ShowHidePopup(true)"></dx-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<dx-popup
        class="popup"
        [width]="450"  
        [height]="600"      
        [showTitle]="true"
        title="Test result"
        [shading]="true"
        [dragEnabled]="false"
        [closeOnOutsideClick]="false"
        [(visible)]="isTestPopupVisible">
        <div *dxTemplate="let data of 'content'">            
            <dx-scroll-view #scrollView
                id="scrollviewExp"
                [scrollByContent]="scrollByContent"
                [scrollByThumb]="scrollByThumb"
                [showScrollbar]="scrollbarMode"
                [bounceEnabled]="pullDown"
                reachBottomText="Updating..."
                [height]="450"
            >            
                <span><pre>{{testResult}}</pre></span>                                                          
            </dx-scroll-view>
            <br/>
            <dx-button class="button secondary" text="Close" (onClick)="ShowHidePopup(false)"></dx-button>
        </div>
</dx-popup>