.hero {
    width: 100%;
}

.display-image {
    height: 200px;
    width: 100%;
}

.spacing {
    margin-top: 100px;
}

.card-spacing {
    padding-bottom: 40px;
}

.list-title:hover {
    color: #0000ff;
    cursor: pointer;
}


 .gallery-container {
    margin: auto;
    width: 50%;   
    padding: 20px;
}
 #gallery {
    margin: auto;
    max-width: 850px;    
}
